* {
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	margin: 0px;
}

header {
	background-color: #ffffff;
	display: flex;
	align-items: center;
}

#name {
	float: left;
	background-color: #4aaaa5;
	color: #ffffff;
	margin-left: 10%;
	margin-right: 35%;
}

#container {
	background-image: url("../images/ep_naturalwhite.png");
	color: #777777;
	flex: 1;
	border-top: 2px solid #cccccc;
}

section {
	float: left;
	width: 650px;
	margin: 40px 40px 40px 10%;
	background-color: #ffffff;
	border: 1.5px solid #dddddd;
	padding: 0px 2%;
}

h2 {
	border-bottom: 2px solid #cccccc;
	padding-bottom: 3%;
}

#profile_image {
	float: left;
	height: 25%;
	width: 25%;
	margin-right: 5%;
}

p {
	line-height: 150%;
}

#flexed {
	display: flex;
	flex-wrap: wrap;
}

.image {
	position: relative;
	margin: auto;
	margin-bottom: 7.5%;
}

.actual_picture {
	height: 250px; /* have to use px instead of %, because it would otherwise be too wide thus not allowing flex-wrapping */
	width: 250px; /* have to use px instead of %, because it would otherwise be too wide thus not allowing flex-wrapping */
}

.overlay {
	position: absolute;
	top: 67%;
	background-color: #4aaaa5;
	color: white;
	width: 250px; /* have to use px instead of %, because it would otherwise be too wide thus not allowing flex-wrapping */
	text-align: center;
}

aside {
	display: inline-block;
	width: 270px;
	background-color: #ffffff;
	margin: 40px 0px;
	border: 1.5px solid #dddddd;
	text-align: center;
	padding: 0px 2% 2% 2%;
	position: absolute;
}

h3 {
	border-bottom: 1.5px solid #dddddd;
	padding-bottom: 5%;
}

.social {
	width: 20%;
}

#stackoverflow {
	height: 17.7%;
	width: 17.7%;
	margin: 1%;
}

footer {
	background-color: #666666;
	color: #4aaaa5;
	border-top: 5px solid #4aaaa5;
	height: 75px; /* can't do percentage here for some reason */
	display: flex;
	align-items: center;
	justify-content: center;
}